<div>
  Rooms Index
</div>

<div>
  <ul>
    {{#each rooms as |room|}}
      <li>
        <a href="/rooms/{{room._id}}">{{room.topic}}</a> | <a href="/rooms/{{room._id}}/edit">edit</a>
      </li>
    {{/each}}
  </ul>
<div>